* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.page {
  position: relative;
}

main {
  width: 100%;
  height: 100%;
}

header {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: 1px solid #e2544f;
}

header div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

h1 {
  margin: 0px;
}

.hamburger {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hamburger svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;
}

.hamburger svg path {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

.hamburger #top,
.hamburger #bottom {
  stroke-dasharray: 30, 75.39;
  -webkit-transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

.hamburger svg.active #top,
.hamburger svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}

.main_all__nav {
  display: -ms-grid;
  display: grid;
  font-family: 'Montserrat', sans-serif;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  z-index: 1;
  width: 250px;
  position: fixed;
}

.main_all__nav div {
  width: 70%;
}

.main_all__nav div:first-child a {
  padding: 12px 0px 12px;
}

.main_all__nav div:first-child a:hover {
  color: #f56d69;
  transform: .1s;
  -webkit-transform: .1s;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.main_all__nav div:first-child a.active {
  color: #f56d69;
}

.main_all__nav a {
  display: inline-block;
  font-size: 18px;
  color: #7e7c7c;
  font-weight: 500;
}

.main_all__nav div:nth-child(2) {
  margin-top: 20px;
}

.main_all__nav div:nth-child(2) a {
  font-size: 30px;
  color: #f56d69;
}

#main_all-open-btn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

#main_all-open-btn g #top, #main_all-open-btn g #middle-stroke, #main_all-open-btn g #bottom {
  stroke: #7e7c7c;
}

#main_all-open-btn :hover g #top, #main_all-open-btn :hover g #middle-stroke, #main_all-open-btn :hover g #bottom {
  stroke: #f56d69;
}

.full_view {
  margin-left: 0;
}

.part_view {
  margin-left: -250px;
}

.paddingBox {
  padding: 10px 20px;
}

.closed {
  right: -250px;
}

.open {
  right: 0;
}
