* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main_all {
  position: relative;
  background: rebeccapurple;
  height: 100%;
}

.main_all nav,
.main_all .home {
  height: 100%;
  position: relative;
}

.main_all .home {
  width: 100%;
}

.main_all .full_view {
  margin-left: 0;
}

.main_all .part_view {
  margin-left: -250px;
}

.main_all nav {
  z-index: 1;
  width: 250px;
  position: fixed;
}

.main_all .closed {
  right: -250px;
}

.main_all .open {
  right: 0;
}

.main_all__nav {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
}

.main_all__nav div {
  width: 70%;
}

.main_all__nav div:first-child a {
  padding: 10px 0px 10px;
}

.main_all__nav div:first-child a:hover {
  color: #f56d69;
  transform: .1s;
  -webkit-transform: .1s;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.main_all__nav div:first-child a.active {
  color: #f56d69;
}

.main_all__nav a {
  display: inline-block;
  font-size: 14px;
  color: #7e7c7c;
  font-weight: 500;
}

.main_all__nav div:nth-child(2) {
  margin-top: 20px;
}

.main_all__nav div:nth-child(2) a {
  font-size: 20px;
  color: #f56d69;
}

#main_all-open-btn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: absolute;
  right: 30px;
  top: 30px;
}

#main_all-open-btn :hover g #top, #main_all-open-btn :hover g #middle-stroke, #main_all-open-btn :hover g #bottom {
  stroke: #f56d69;
}

.temp {
  padding-top: 50px;
}
