* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main_all {
  position: relative;
}

.main_all nav,
.main_all .home {
  height: 100%;
  position: relative;
}

.main_all .home {
  width: 100%;
}

.main_all .full_view {
  margin-left: 0;
}

.main_all .part_view {
  margin-left: -250px;
}

.main_all nav {
  z-index: 1;
  width: 250px;
  position: fixed;
}

.main_all .closed {
  right: -250px;
}

.main_all .open {
  right: 0;
}

.main_all__nav {
  display: -ms-grid;
  display: grid;
  font-family: 'Montserrat', sans-serif;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
}

.main_all__nav div {
  width: 70%;
}

.main_all__nav div:first-child a {
  padding: 12px 0px 12px;
}

.main_all__nav div:first-child a:hover {
  color: #f56d69;
  transform: .1s;
  -webkit-transform: .1s;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

.main_all__nav div:first-child a.active {
  color: #f56d69;
}

.main_all__nav a {
  display: inline-block;
  font-size: 18px;
  color: #7e7c7c;
  font-weight: 500;
}

.main_all__nav div:nth-child(2) {
  margin-top: 20px;
}

.main_all__nav div:nth-child(2) a {
  font-size: 30px;
  color: #f56d69;
}

#main_all-open-btn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: absolute;
  right: 30px;
  top: 30px;
}

#main_all-open-btn g #top, #main_all-open-btn g #middle-stroke, #main_all-open-btn g #bottom {
  stroke: #7e7c7c;
}

#main_all-open-btn :hover g #top, #main_all-open-btn :hover g #middle-stroke, #main_all-open-btn :hover g #bottom {
  stroke: #f56d69;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.padding-box {
  text-align: left;
  padding: 6% 4%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.padding-box p {
  margin-bottom: 20px;
  line-height: 25px;
}

.padding-box a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 15px 45px;
  z-index: 1;
  color: white;
}

.padding-box a:after, .padding-box a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.padding-box a:after {
  background: #412718;
  z-index: -1;
  width: 0;
  margin-left: -20px;
  transition: all .9s;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -ms-transition: all .9s;
  -o-transition: all .9s;
}

.padding-box a:before {
  background: white;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition: all .6s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.padding-box a:hover {
  color: white;
}

.padding-box a:hover:before {
  width: 100%;
}

.padding-box a:hover:after {
  width: 110%;
}

.padding-box h2, .padding-box p, .padding-box a {
  max-width: 700px;
}

.padding-box-first {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.569)), to(rgba(0, 0, 0, 0.93))), url(../img/mobile_1.png);
  background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.93)), url(../img/mobile_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: auto;
  margin-top: 0;
}

.padding-box-first h2 {
  font-size: 280%;
  text-transform: uppercase;
  max-width: 800px;
}

.padding-box-first p {
  width: 90%;
  max-width: 500px;
}

.padding-box_flexContainer {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-box_img {
  width: 100%;
  max-width: 500px;
}

.padding-box_img img {
  width: 100%;
}

.padding-box_text {
  width: 100%;
  max-width: 430px;
}

.home .padding-box:not(.padding-box-first) {
  text-align: left;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
}

.home .padding-box:not(.padding-box-first) h2 {
  line-height: 35px;
}

.home .padding-box:not(.padding-box-first) h2, .home .padding-box:not(.padding-box-first) p {
  margin-bottom: 30px;
}

.non-filled:not(.padding-box-first) h2 {
  color: #e2544f;
}

.non-filled:not(.padding-box-first) p {
  color: #7e7c7c;
}

.non-filled h2 {
  color: #dedede;
}

.non-filled p {
  color: #7e7c7c;
}

.filled {
  background: #e2544f;
  color: white;
}

.filled h2 {
  color: white;
}

.filled p {
  color: #e2e1e1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background: #e2544f;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 920px) {
  .padding-box h2 {
    font-size: 200%;
  }
  .padding-box-first {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.569)), to(rgba(0, 0, 0, 0.93))), url(../img/bg_tablet.JPG);
    background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.93)), url(../img/bg_tablet.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .padding-box-first h2 {
    font-size: 350%;
  }
  .padding-box_flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .padding-box:not(.padding-box-first) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
