* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.main_all {
  height: 100%;
  background: teal;
  color: white;
}
