* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

.primary {
  color: #f56d69;
}

.primary-btn {
  color: white;
  border: 0px;
  background: #e2544f;
  padding: 10px 20px;
}

.default {
  height: 100%;
}

.default_flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.left, .right {
  height: 100%;
}

.left {
  width: 30%;
  padding: 50px;
  background: #f56d69;
}

.left a {
  color: white;
}

.left h1 {
  margin-bottom: 50px;
}

.slideshow {
  width: 420px;
  height: 520px;
  position: relative;
  margin-left: 10%;
  overflow: hidden;
  border-radius: 10px;
}

.slideshow_slider {
  margin-left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  -webkit-transition: 1s;
  transition: 1s;
  animation: slide 7s linear both;
  -webkit-animation: slide 7s linear both;
}

.slideshow_slider div {
  width: 100%;
}

.slideshow_slider img {
  width: 100%;
  height: 100%;
}

.slideshow_breadcrumbs {
  position: absolute;
  bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sb {
  width: 25px;
  height: 5px;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sb:first-child {
  margin-left: 25px;
}

.on_display {
  background: #412718;
}

.standby {
  background: #ffffffb5;
}

.temp {
  width: 420px;
  height: 520px;
  background: #e2544f39;
  position: absolute;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: -40px 0px 0px 80px;
  z-index: -1;
}

.right {
  width: 70%;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  width: 94%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 100px;
}

.right nav div:first-child {
  margin-right: 20px;
  padding-top: 5px;
}

.right nav div:first-child g #top, .right nav div:first-child g #middle-stroke, .right nav div:first-child g #bottom {
  stroke: #7e7c7c;
}

.right nav div:first-child:hover g #top, .right nav div:first-child:hover g #middle-stroke, .right nav div:first-child:hover g #bottom {
  stroke: #f56d69;
}

.right nav div:nth-child(2) {
  overflow: hidden;
}

.right nav ul {
  list-style-type: none;
}

.right nav ul li {
  display: inline;
}

.right nav ul li a {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px 30px 10px 0px;
  font-weight: 600;
  color: #7e7c7c;
}

.right nav ul li a.active {
  color: #f56d69;
}

.right nav ul li a:hover {
  color: #f56d69;
  transform: .1s;
  -webkit-transform: .1s;
  -moz-transform: .1s;
  -ms-transform: .1s;
  -o-transform: .1s;
}

.right nav .prev {
  margin-left: -350px;
}

.right nav .full {
  margin-left: 0;
}

.right nav div:nth-child(3) {
  position: absolute;
  right: 0;
}

.right nav div:nth-child(3) a {
  font-size: 23px;
  color: #7e7c7c;
}

.right nav div:nth-child(3) a:hover {
  color: #f56d69;
  transform: .1s;
  -webkit-transform: .1s;
  -moz-transform: .1s;
  -ms-transform: .1s;
  -o-transform: .1s;
}

.right > div:first-of-type {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7e7c7c;
}

.right > div:first-of-type > div {
  width: 500px;
}

.right > div:first-of-type h2 {
  font-size: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 50px;
}

.right > div:first-of-type a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 45px;
  z-index: 1;
  color: white;
}

.right > div:first-of-type a:after, .right > div:first-of-type a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.right > div:first-of-type a:after {
  background: #412718;
  z-index: -1;
  width: 0;
  margin-left: -20px;
  transition: all .9s;
  -webkit-transition: all .9s;
  -moz-transition: all .9s;
  -ms-transition: all .9s;
  -o-transition: all .9s;
}

.right > div:first-of-type a:before {
  background: white;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition: all .6s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.right > div:first-of-type a:hover {
  color: white;
}

.right > div:first-of-type a:hover:before {
  width: 100%;
}

.right > div:first-of-type a:hover:after {
  width: 110%;
}

.right > div:first-of-type p {
  font-family: 'Open Sans', sans-serif;
  margin: 25px 0px 30px;
  font-size: 18px;
  width: 90%;
}

.right > div:first-of-type .slideshow2 {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background: #e2544f39;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.right > div:first-of-type .slideshow2 div:first-child {
  width: 25%;
}

.right > div:first-of-type .slideshow2 div:first-child img {
  width: 100%;
}

.right > div:first-of-type .slideshow2 div:nth-child(2) {
  width: 70%;
  margin-left: 30px;
}

.right > div:first-of-type .slideshow2 div:nth-child(2) h4 {
  margin-bottom: 10px;
  color: #e2544f;
}

.right > div:first-of-type .slideshow2 div:nth-child(2) p {
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.hamburger {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hamburger svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
  cursor: pointer;
}

.hamburger svg path {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}

.hamburger #top,
.hamburger #bottom {
  stroke-dasharray: 30, 75.39;
  -webkit-transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
  transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
}

.hamburger svg.active #top,
.hamburger svg.active #bottom {
  stroke-dasharray: 75.39;
  stroke-dashoffset: -60;
}
