//color variables
$primary-color: #e2544f;
$primary-color-2: #f56d69;
$primary-color-3: #ba3530;
$primary-color-orange: #E25714;
$primary-color-coffee: #412718;
$secondary-color: #7e7c7c;

//font variables
$regular: 12px;
$regular2: 16px;
