@import './resets';
@import './variables';  

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin hover {
    color: $primary-color-2;
    transform: .1s;
    -webkit-transform: .1s;
    -moz-transform: .1s;
    -ms-transform: .1s;
    -o-transform: .1s;
}

//main breakpoints
@mixin desktop {
    @media only screen and (min-width: 1300px) {
        @content;
    }
}
main {
    width: 100%;
}
 //css for default desktop page
h1 {
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
}
.primary {
    color: $primary-color-2;
}
.primary-btn {
    color: white;
    border: 0px;
    background: $primary-color;
    padding: 10px 20px;
}
.default {
    height: 100%;
    display: none;
    //overflow: hidden;     
    &_flexbox {
        display: flex;  
        height: 100%;
    }
}
.left, .right {
    height: 100%;  
}
.left {
    width: 30%;
    padding: 50px;
    background: $primary-color-2;
    
    a {
        color: white;
    }
    h1 {
        margin-bottom: 50px;
    }
}
.slideshow {
    width: 420px;
    height: 520px;
    position: relative;
    //border: 2px solid #412718;
    margin-left: 10%;
    overflow: hidden;
    border-radius: 10px;
    
    &_slider {
        margin-left: 0%;
        display: flex;
        width: 400%;
        transition: 2s;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;



        div {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
       
    }

    &_breadcrumbs {
        position: absolute;
        bottom: 23px;
        display: flex;
    }  
}   
.sb {
    width: 25px;
    height: 5px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:first-child {
        margin-left: 25px;
    }
}   
.on_display {
    background: #412718;
}
.standby {
    background: #ffffffb5;
}
{
    width: 420px;
    height: 520px;
    background: #e2544f39;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: -40px 0px 0px 80px;
    z-index: -1;
    
}
.right {
    width: 70%;
    padding: 25px;
    display: flex;
    position: relative;
    flex-direction: column;

    nav {
        display: flex;
        position: relative;
        align-items: center;
        margin-left: 30px;
        width: 94%;
        height: max-content;
        margin-bottom: 100px;

        div:first-child {
            margin-right: 20px;
            padding-top: 5px;

            g  {
                #top, #middle-stroke, #bottom {
                    stroke: $secondary-color;
                }
            }

            &:hover {
                g  {
                    #top, #middle-stroke, #bottom {
                        stroke: $primary-color-2;
                    }
                }
            }
            
        }
        div:nth-child(2) {
            overflow: hidden;
        }
        ul {
            list-style-type: none;
            
            li {
                display: inline ;

                a {
                    font-size: $regular;
                    letter-spacing: 2px;
                    padding: 10px 30px 10px 0px;
                    font-weight: 600;
                    color: $secondary-color;

                    &.active {
                        color: $primary-color-2;
                    }  

                    &:hover {
                        @include hover;
                    }

                    
                }
                
            }
        }

        //these classes are for nav ul control
        .prev {
            margin-left: -350px;
        }
        .full {
            margin-left: 0;
        }

        div:nth-child(3) {
            position: absolute;
            right: 0;

            a {
                font-size: 23px;
                color: $secondary-color;
                
                &:hover {
                    @include hover;
                }
            }
          
        }
    }

    .intro_box {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color;
        
        & > div {
            width: 500px;

        }
        h2 {
            font-size: 50px;
            margin-bottom: 25px;
            text-transform: uppercase;
            letter-spacing: -2px;
            line-height: 50px;
        }
        a {
            display: inline-block;
            position: relative;
            overflow: hidden;
            padding: 10px 45px;
            z-index: 1;
            color: white;
            
            &:after,
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 100%;
                
            }
            &:after {
                background: $primary-color-coffee;
                z-index: -1;
                width: 0;
                margin-left: -20px;
                transition: all .9s;
                -webkit-transition: all .9s;
                -moz-transition: all .9s;
                -ms-transition: all .9s;
                -o-transition: all .9s;
}
            &:before {
                background: white;
                z-index: -1;
                transition: all .3s;
                -webkit-transition: all .6s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition: all .3s;
            }
            &:hover {
                color: white;
                &:before {
                    width: 100%;
                }
                &:after {
                    width: 110%;
                }
            }
        }

        p {
            font-family: 'Open Sans', sans-serif;
            margin: 25px 0px 30px;
            font-size: 18px;
            width: 90%;
        }
        .slideshow2 {
            width: 100%;
            height: 150px;
            display: flex;
            padding: 20px;
            background: #e2544f39;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            div:first-child {
                width: 25%;
                overflow: hidden;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;

                  
                div {
                    display: flex;
                    width: 500%;
                    margin-left: 0%;
                }
                img {
                    width: 20%;
                }
            }

            div:nth-child(2) {
                width: 70%;
                margin-left: 30px;

                h4 {
                    margin-bottom: 10px;
                    color: $primary-color;
                }
                p  {
                    width: 100%;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
  
    .social_side_pin {
        position: absolute;
        top:  40%;
        right: 55px;

        & > div:not(:last-child) {
            margin-bottom: 10px;
        }

        a {
            font-size: 23px;
            color: $secondary-color;

            &:hover {
                @include hover;
            }
        }
    }

}
.hamburger {
    width: max-content;
    svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
        cursor:pointer;
      }

      svg path {
        fill: none;
        stroke: white;
        stroke-width: 3px;
      }
      
      #top,
      #bottom {
        stroke-dasharray: 30, 75.39;
        transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
      }

      svg.active #top,
      svg.active #bottom {
        stroke-dasharray: 75.39;
        stroke-dashoffset: -60;
      }
            
}
//end of css for default desktop page


//queries selector
@include desktop {
    .default  {
        display: block;
     }

     .main_all {
        display: none;
     }
    
}