@import './resets';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin hover {
    color: $primary-color-2;
    transform: .1s;
    -webkit-transform: .1s;
    -moz-transform: .1s;
    -ms-transform: .1s;
    -o-transform: .1s;
}
  
* {
    // outline: 1px solid grey;
}
.main_all {
    position: relative;
    background: rebeccapurple;
    height: 100%; //remove this later

    nav, 
    .home {
        height: 100%;
        position: relative;
    }
    
    .home {
        width: 100%;
    }
    // these styles controls .home content when nav is toggled
    .full_view {
        margin-left: 0;
    }
    .part_view {
        margin-left: -250px;
    }
    

    nav {
        z-index: 1;
        width: 250px;
        position: fixed;
    }
    // these styles help toggle nav open or closed
    .closed {
        right: -250px;
    }
    .open {
        right: 0;
    }
    
}
.main_all__nav  {
    display: grid;
    justify-items: center;
    align-content: center;
    background: white;

    div {
        width: 70%; 
    }

    div:first-child {
    
        a {
            
            padding: 10px 0px 10px;
    
            &:hover {
                @include hover;
                transform: scale(1.07);
                -webkit-transform: scale(1.07);
                -moz-transform: scale(1.07);
                -ms-transform: scale(1.07);
                -o-transform: scale(1.07);
            }
    
            &.active {
                color: $primary-color-2;
            }
        }
    }

    a {
        display: inline-block;
        font-size: $regular2;
        color: $secondary-color;
        font-weight: 500; 
    }

    div:nth-child(2) {
        margin-top: 20px;
        a {
            font-size: 20px;
            color: $primary-color-2;
        }
    }
    
}
#main_all-open-btn {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    right: 30px;
    top: 30px;

    :hover {
        g {
            #top, #middle-stroke, #bottom {
                stroke: $primary-color-2;
            }
        }
    }
}
.temp {
    padding-top: 50px;
}