@import './resets';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexStart {
    display: flex;
    justify-content: center;
    align-items: start;
}
@mixin hover {
    color: $primary-color-2;
    transform: .1s;
    -webkit-transform: .1s;
    -moz-transform: .1s;
    -ms-transform: .1s;
    -o-transform: .1s;
}
  
* {
    //outline: 1px solid grey;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.main_all {
    position: relative;

    nav, 
    .home {
        height: 100%;
        position: relative;
    }
    
    .home {
        width: 100%;
    }
    // these styles controls .home content when nav is toggled
    .full_view {
        margin-left: 0;
    }
    .part_view {
        margin-left: -250px;
    }
    

    nav {
        z-index: 1;
        width: 250px;
        position: fixed;
    }
    // these styles help toggle nav open or closed
    .closed {
        right: -250px;
    }
    .open {
        right: 0;
    }
    
}
.main_all__nav  {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
    align-content: center;
    background: white;

    div {
        width: 70%; 
    }

    div:first-child {
    
        a {
            
            padding: 12px 0px 12px;
    
            &:hover {
                @include hover;
                transform: scale(1.07);
                -webkit-transform: scale(1.07);
                -moz-transform: scale(1.07);
                -ms-transform: scale(1.07);
                -o-transform: scale(1.07);
            }
    
            &.active {
                color: $primary-color-2;
            }
        }
    }

    a {
        display: inline-block;
        font-size: $regular2;
        color: $secondary-color;
        font-weight: 500; 
    }

    div:nth-child(2) {
        margin-top: 20px;
        a {
            font-size: 30px;
            color: $primary-color-2;
        }
    }
    
}
#main_all-open-btn {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    right: 30px;
    top: 30px;

    g {
        #top, #middle-stroke, #bottom {
            stroke: $secondary-color;
        }
    }

    :hover {
        g {
            #top, #middle-stroke, #bottom {
                stroke: $primary-color-2;
            }
        }
    }
}
h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.padding-box {
    padding: 20px;
    @include flexStart();
    flex-direction: column;

  p {
      margin-bottom: 20px;
      line-height: 25px;
      color: $secondary-color;
    }

  a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 15px 45px;
    z-index: 1;
    color: white;
    
    &:after,
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        
    }
    &:after {
        background: $primary-color-coffee;
        z-index: -1;
        width: 0;
        margin-left: -20px;
        transition: all .9s;
        -webkit-transition: all .9s;
        -moz-transition: all .9s;
        -ms-transition: all .9s;
        -o-transition: all .9s;
    }
    &:before {
        background: white;
        z-index: -1;
        transition: all .3s;
        -webkit-transition: all .6s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    &:hover {
        color: white;
        &:before {
            width: 100%;
        }
        &:after {
            width: 110%;
        }
    }

    
  }

//   p,a {
//     font-size: $regular2;
//   }

    h2, p, a{
        max-width: 700px;
    }
}
.home .padding-box:not(.padding-box-first) {
    height: 90vh;
   
    h2 {
        color: $primary-color;
        line-height: 35px;
    }
    h2, p  {
        margin-bottom: 30px;
    }
    
}
.padding-box-first {
    background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.896)), url(../img/mobile_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    margin-top: 0;

    h2 {
        color: $secondary-color-2;
        line-height: 40px;
        font-size: 280%;
    }


    
}
.padding-box-third {
}
