@import './resets';
@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexStart {
    display: flex;
    justify-content: center;
    align-items: start;
}
@mixin hover {
    color: $primary-color-2;
    transform: .1s;
    -webkit-transform: .1s;
    -moz-transform: .1s;
    -ms-transform: .1s;
    -o-transform: .1s;
}


  
* {
    // outline: 1px solid grey;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.main_all {
    position: relative;

    nav, 
    .home {
        height: 100%;
        position: relative;
    }
    
    .home {
        width: 100%;
    }
    // these styles controls .home content when nav is toggled
    .full_view {
        margin-left: 0;
    }
    .part_view {
        margin-left: -250px;
    }
    

    nav {
        z-index: 1;
        width: 250px;
        position: fixed;
    }
    // these styles help toggle nav open or closed
    .closed {
        right: -250px;
    }
    .open {
        right: 0;
    }
    
}
.main_all__nav  {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    justify-items: center;
    align-content: center;
    background: white;

    div {
        width: 70%; 
    }

    div:first-child {
    
        a {
            
            padding: 12px 0px 12px;
    
            &:hover {
                @include hover;
                transform: scale(1.07);
                -webkit-transform: scale(1.07);
                -moz-transform: scale(1.07);
                -ms-transform: scale(1.07);
                -o-transform: scale(1.07);
            }
    
            &.active {
                color: $primary-color-2;
            }
        }
    }

    a {
        display: inline-block;
        font-size: $regular2;
        color: $secondary-color;
        font-weight: 500; 
    }

    div:nth-child(2) {
        margin-top: 20px;
        a {
            font-size: 30px;
            color: $primary-color-2;
        }
    }
    
}
#main_all-open-btn {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    right: 30px;
    top: 30px;

    g {
        #top, #middle-stroke, #bottom {
            stroke: $secondary-color;
        }
    }

    :hover {
        g {
            #top, #middle-stroke, #bottom {
                stroke: $primary-color-2;
            }
        }
    }
}
h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.padding-box {
    text-align: left;
    padding: 6% 4%;
    height: max-content;
    @include flexStart();
    flex-direction: column;
    font-size: $regular2;

    p {
        margin-bottom: 20px;
        line-height: 25px;
    }

    a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding: 15px 45px;
        z-index: 1;
        
        &:after,
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 100%;
            
        }
        &:after {
            background: $primary-color-coffee;
            z-index: -1;
            width: 0;
            margin-left: -20px;
            transition: all .9s;
            -webkit-transition: all .9s;
            -moz-transition: all .9s;
            -ms-transition: all .9s;
            -o-transition: all .9s;
        }
        &:before {
            background: white;
            z-index: -1;
            transition: all .3s;
            -webkit-transition: all .6s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
        }
        &:hover {
            color: white;
            &:before {
                width: 100%;
            }
            &:after {
                width: 110%;
            }
        }

        
    }
    h2 {
        width: 90%;
    }
    h2, p, a{
        max-width: 700px;
    }

    &-first {
        background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.93)), url(../img/mobile_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        margin: auto;
        margin-top: 0;
    
        h2 {
            font-size: 280%;
            text-transform: uppercase;
            max-width: 800px;
        }
    
        p   {
            width: 90%;
            max-width: 500px;
        }
        
    }
    &_flexContainer {
        height: 100%;
        width: 100%;
        @include flexCenter();
        flex-direction: column;
    }
    &_img {
        // border: 2px solid saddlebrown;
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }

    &_text {
        width: 100%;
        max-width: 500px;
    }
    
}
.home .padding-box:not(.padding-box-first) {
    text-align: left;
    height: max-content;
    display: block;
   
    h2 {
        line-height: 35px;
    }
    h2, p  {
        margin-bottom: 15px;
    }
    
}

// What makes us stand out 
.padding-box-third {
    .padding-box_flexContainer {
        flex-direction: column-reverse;
    }
}


.non-filled:not(.padding-box-first) {
    h2 {
        color: $primary-color;
    }
    p {
        color: $secondary-color;
    }
}
.non-filled {
    h2 {
        color: $secondary-color-2;
    }
    p {
        color: $secondary-color;
    }
}
.filled {
    background: $primary-color;
    color: white;
    h2 {
        color: white;
    }
    p {
        color: rgb(226, 225, 225);
    }
}

// Ethy Products
.padding-box-fourth {
    h2 {
        margin-bottom: 5px;
    }
     h2, p {
        text-align: center;
        margin: auto;
    }
    
    .padding-box_flexContainer {
        flex-direction: row;
        gap: 15px;
        margin: auto;
        margin-bottom: 20px;
        max-width: 1000px;

       

        &:nth-child(3) {
            margin-top: 30px;
        }
       
        .padding-box_img {
            width: 30%;
            max-width: 200px;
            margin-bottom: 0;
        }
        img {
            width: 100%;
            height: auto;
        }
        .padding-box_text {
            line-height: 1.5em;
            font-size: $regular;
        }

        a {
            font-weight: 500;
        }
    }

}

// We also have a youtube
.padding-box-fifth {
    .padding-box_flexContainer {
        .padding-box_img {
            h2 {
                width: 100%;
            }
        }
    }
}
footer {
    @include flexCenter();
    height: 150px;
    background: $primary-color;
    color: white;
    text-align: center;
}

@mixin tablet_SmallDesktops {
    @media only screen and(min-width: 920px) {
        @content;
    }
}

// This media query is a fix
@media only screen and (min-width: 664px) {
    .padding-box-fourth {
        .padding-box_flexContainer {
             .padding-box_text {
                 font-size: $regular2;
             }
        }
     }
}

@include tablet_SmallDesktops {
    .padding-box {
        padding: 6%;

        h2 {
            font-size: 200%;
        }
        &-first {
            background: linear-gradient(rgba(0, 0, 0, 0.569), rgba(0, 0, 0, 0.93)), url(../img/bg_tablet.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left   ;

            h2 {
                font-size: 350%;
            }
           
        } 
        &_flexContainer {
            flex-direction: row;
            justify-content: space-evenly;
            gap: 30px;
        }
       
    }
    .padding-box-first {
        p {
            line-height: 1.5em;
        }
    }
    .padding-box-third {
        .padding-box_flexContainer {
            flex-direction: row;
        }
    }
    .padding-box:not(.padding-box-first) {
        flex-direction: row;
        justify-content: space-evenly;

       
    }
    .home .padding-box:not(.padding-box-first) {
        p {
            margin-bottom: 30px;
        }
    }
    .padding-box-fourth {
       .padding-box_flexContainer {
            .padding-box_text {
                font-size: $regular2;
            }
            .inverted-btn {
                padding: 15px 90px;
            }
       }
    }
    
    
}
