$primary-color: #F2928F;
$primary-color-2: #f56d69;
$primary-color-orange: #E25714;
$primary-color-coffee: #412718;

$regular: 14px;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

*:focus {
    outline: none;
}
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    transition: .3s;
    font-family: 'Montserrat', sans-serif;
    color: white;
    //outline: 1px solid white;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
h1 {
    font-weight: 600;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
}
section {
    width: 100%;
    height: 100%;
    background: #E25714;
}
.default {
    & div:first-child {
        //background-color: black;
        height: 100%;
    }
    &_flexbox {
        display: flex;
    }
}
.hidden  {
    display: none;
}
.left {
    width: 33%;
}
.right {
    width: 67%;
    
    nav {
        display: flex;
        align-items: center;

        div:first-child {
            margin-right: 30px;
        }
        div:nth-child(2) {
            overflow: hidden;
        }
        ul {
            list-style-type: none;
            
            li {
                display: inline ;

                a {
                    font-size: $regular;
                    padding: 10px 30px 10px 0px;
                }
            }
        }

        //these classes are for nav control
        .prev {
            margin-left: -300px;
        }
        .full {
            margin-left: 0;
        }
    }
}
.left, .right {
    height: 100%;
    padding: 50px;
    
}
.hamburger {
    width: max-content;
    svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
        cursor:pointer;
      }

      svg path {
        fill: none;
        stroke: white;
        stroke-width: 3px;
      }
      
      #top,
      #bottom {
        stroke-dasharray: 30, 75.39;
        transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
      }

      svg.active #top,
      svg.active #bottom {
        stroke-dasharray: 75.39;
        stroke-dashoffset: -60;
      }
            
}
