$primary-color: #e2544f;
$primary-color-2: #f56d69;
$primary-color-orange: #E25714;
$primary-color-coffee: #412718;
$secondary-color: #7e7c7c;

$regular: 12px;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin hover {
    color: $primary-color-2;
    transform: .1s;
    -webkit-transform: .1s;
    -moz-transform: .1s;
    -ms-transform: .1s;
    -o-transform: .1s;
}
*:focus {
    outline: none;
}
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    transition: .3s;
    font-family: 'Montserrat', sans-serif;
   //outline: 1px solid blue;
}
html {
    scroll-behavior: smooth;

}
a {
    text-decoration: none;
}
h1 {
    font-weight: 600;
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
}
section {
    width: 100%;
    height: 100%;
}
.default {
    //overflow: hidden;
    & div:first-child {
        //background-color: black;
        height: 100%;
    }
    &_flexbox {
        display: flex;
    }
}
.hidden  {
    display: none;
}
.left {
    width: 30%;
    padding: 50px;
    background: $primary-color-2;
    
    a {
        color: white;
    }
    h1 {
        margin-bottom: 50px;
    }

}
.slideshow {
    width: 420px;
    height: 520px;
    position: relative;
    //border: 2px solid #412718;
    margin-left: 10%;
    overflow: hidden;
    border-radius: 10px;
    
    &_slider {
        display: flex;
        width: 300%;
        animation: slide 7s linear both;
        -webkit-animation: slide 7s linear both;

        div {
            width: 100%;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
    &_breadcrumbs {
        position: absolute;
        bottom: 23px;
        display: flex;
    }
}
.sb {
    width: 25px;
    height: 5px;
    margin-right: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    &:first-child {
        margin-left: 25px;
    }
}
.on_display {
    background-color: $primary-color-coffee;
}
.standby {
    background: #ffffffb5;
}
.right {
    width: 70%;
    padding: 25px;

    nav {
        display: flex;
        position: relative;
        align-items: center;
        margin-left: 30px;
        width: 94%;

        div:first-child {
            margin-right: 20px;
            padding-top: 5px;

            g  {
                #top, #middle-stroke, #bottom {
                    stroke: $secondary-color;
                }
            }

            &:hover {
                g  {
                    #top, #middle-stroke, #bottom {
                        stroke: $primary-color-2;
                    }
                }
            }
            
        }
        div:nth-child(2) {
            overflow: hidden;
        }
        ul {
            list-style-type: none;
            
            li {
                display: inline ;

                a {
                    font-size: $regular;
                    letter-spacing: 2px;
                    padding: 10px 30px 10px 0px;
                    font-weight: 600;
                    color: $secondary-color;

                    &.active {
                        color: $primary-color-2;
                    }  

                    &:hover {
                        @include hover;
                    }

                    
                }
                
            }
        }

        //these classes are for nav ul control
        .prev {
            margin-left: -350px;
        }
        .full {
            margin-left: 0;
        }

        div:nth-child(3) {
            position: absolute;
            right: 0;

            a {
                font-size: 23px;
                color: $secondary-color;
                
                &:hover {
                    @include hover;
                }
            }
          
        }
    }
}

.left, .right {
    height: 100%;
    
}
.hamburger {
    width: max-content;
    svg {
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
        cursor:pointer;
      }

      svg path {
        fill: none;
        stroke: white;
        stroke-width: 3px;
      }
      
      #top,
      #bottom {
        stroke-dasharray: 30, 75.39;
        transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
      }

      svg.active #top,
      svg.active #bottom {
        stroke-dasharray: 75.39;
        stroke-dashoffset: -60;
      }
            
}
